@naranja: orange;
@tipografia-bits: "SilkscreenNormal", sans-serif;

.hidden {
    display: none;
}

.contenedor {
    font-family: @tipografia-bits;
    text-align: center;
    height: 95vh;
    overflow: auto;
    &.align-left{
        text-align: left;
    }
    a {
        text-decoration: none;
        font-weight: bold;
        color: #005499;
    }
    h2 {
        color: @naranja;
        text-align: center;
    }
    p {
        padding: 1px;
    }
}

.cabecera {
    img{
        width: 16vw;
    }
    .logo {
        width: 62vw;
        margin-left: auto;
        margin-right: auto;
    }
    .img-lateral{
        width:16vw;
    }
}

.botones-right-bottom {
    position: absolute;
    bottom: 1vh;
    right: 1vw;
    a {
        text-decoration: none;
    }
    img {
        height: 12vh;
    }
}

.botones-top-left {
    position: absolute;
    left: 3vh;
    top: 3vh;
    a {
        text-decoration: none;
    }
    img {
        height: 12vh;
    }
}

.btn {
    display:inline;
    a {
        text-decoration: none;
    }
}

.btn-60 {
    img {
        width: 60vw;
    }
}